[submodule "deps/dlb_mp4base"]
	path = deps/dlb_mp4base
	url = https://github.com/DolbyLaboratories/dlb_mp4base.git
[submodule "deps/dlb_mp4demux"]
	path = deps/dlb_mp4demux
	url = https://github.com/DolbyLaboratories/dlb_mp4demux.git
